*{
    margin: 0;
    padding: 0;
}

.botonDescarga{
    border: solid;
    border-radius: 30%;
    border-color: royalblue;
    background-color: royalblue;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;
}